<div style="height: 100vh;width: 100%;background-color: #E5E5E5;">

  <p>
    <mat-toolbar>
      <img src="../../../assets/img/image 8.png" style="margin-left: 76px; width: 202px;"> 
    </mat-toolbar>
  </p>
         
      <div class="container-fluid" style="    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;">

        <h5 style="text-align: center;font-weight: bold;
        font-size: 23px;margin-top: 38px;margin-bottom: 24px;">Nuevo Sistema de Recaudación Tributaria Municipal </h5>
        <div class="row main-content bg-success text-center">
          <div class="col-md-6 text-center company__info" style="padding: 0;margin:0;background-image: url('../../../assets/img/image 9.png');background-size: cover;">
            &nbsp;
          </div>
          <div class="col-md-6 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
              <div class="row">
                <h2 style="text-align: center;font-weight: bold;
                font-size: 20px;color: #2F3031;">Iniciar sesión </h2>
              </div>
              <div class="row">
                <form control="" class="form-group">
                  <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text">
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" >
                          <mat-icon>perm_identity</mat-icon>
                        </button>
                      </mat-form-field>

                      

                  </div>
                  <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password">
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" >
                          <mat-icon>visibility_off</mat-icon>
                        </button>
                      </mat-form-field>
                  </div>
                  <div class="row">
                    <a style="text-align: right;color:#0058A6;font-weight: bold;font-size: 14px;
                    ">Olvide mi contraseña</a>
                  </div>
                  <div class="row" style="padding-top: 16px;">
                    <button  mat-raised-button color="primary">Ingresar</button>
                  </div>

                  <div class="row">
                    <p style="text-align: center;padding-top: 24px;padding-bottom: 20px;">O inicia sesión con:</p>
                  </div>

                  <div class="row" style="padding-left: 0px;">

                    <!-- <button mat-raised-button color="accent">
                        <mat-icon >mic</mat-icon>
                        Start Recording
                    </button> -->

                    <div style="width: 100%;display: flex;padding-left: 0px;padding-right: 0px;">
                    

                        <div style="width: 50%;padding-right: 8px;">
                            <button type="button" class="btn btn-elegant" style="
                            border-radius: 4px;border:1px solid #DE5246;
            border-radius: 4px;
            height: 40px;
            color: #fff;width: 100%;">
                                <img src="../../../assets/img/logo_reniec.png" />
                             </button>
                        </div>

                        <div style="width: 50%;padding-left: 8px;">

                            <button type="button" class="btn btn-elegant" style="
                            border-radius: 4px;
            border-radius: 4px;
            height: 40px;
            color: #fff;border:1px solid #0163AC
;width: 100%;">
                                <img src="../../../assets/img/logo_sunat.png" />    
                            </button>

                        </div>


                    </div>

                    <div style="width: 100%;display: flex;padding-left: 0px;padding-right: 0px;">

                        





                        <div style="width: 50%;padding-right: 8px;">
                            <button type="button" class="btn btn-elegant" style="
                            border-radius: 4px;background: #2D88FF;
            border-radius: 4px;
            height: 40px;
            color: #fff;width: 100%;">
                                <img src="../../../assets/img/icon_facebook.svg"  />
                                Facebook</button>
                        </div>

                        <div style="width: 50%;padding-left: 8px;">

                            <button type="button" class="btn btn-elegant" style="
                            border-radius: 4px;background:  #DE5246;
        ;
            border-radius: 4px;
            height: 40px;
            color: #fff;border:1px solid #DE5246;width: 100%;">
                                <img src="../../../assets/img/icon_google.svg"  />
                                Google</button>

                        </div>
                    </div>

                   
   


                       
                  </div>
                </form>
              </div>
              <div class="row">
                <a style="text-align: center;color:#0058A6;font-weight: bold;font-size: 14px;
                    ">Manual de usuario</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="footer">
        <p>Minsterio de Economía y Finanzas - MEF 2021Todo los derechos reservados</p>
        <p>Si tienes cualquier duda o consulta, comunícate por Teléfono Central: (511) 311 5930 / Dirección: Jr. Junín 319. Cercado de Lima, Lima - Perú</p>
        <p>Web optimizada para 1024 x 768. Se recomienda utilizar solo  navegadores de Chrome, Microsoft Windows Internet Explorer 9 o superiores y Mozilla Firefox versión 16 o superiores</p>
      </div>
</div>
