<div style="height: 100vh;width: 100%;background-color: #E5E5E5;;">

    <p>
        <mat-toolbar>
          <img src="../../../assets/img/image 8.png" style="margin-left: 76px; width: 202px;"> 
        </mat-toolbar>
      </p>
      
      
         
      <div class="container-fluid" style="    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;">

<div class="row">
    <p style="font-weight: bold;
    font-size: 23px;text-align: center;margin-top:38px;margin-bottom: 50px;">Acceso a los sistemas</p>
</div>

<div class="row">

    <div class="col-md-4">
        <div style="width: 204px; padding: 24px 24px;background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        ">
         <h1>Sincronización de datos</h1>
         <p>
            Aquí iría el texto descriptivo del portal o utilizar un icono arriba del titulo
         </p>


         <button type="button" class="btn btn-elegant" style="
                        border-radius: 4px;background:  #B30011;
    ;
        border-radius: 4px;
        height: 40px;
        color: #fff;border:1px solid #B30011;width: 100%;margin-bottom: 0px;">
                            Ingresar</button>


        </div>
    </div>


    <div class="col-md-4">
        <div style="width: 204px; padding: 24px 24px;background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        ">
         <h1>Sincronización de datos</h1>
         <p>
            Aquí iría el texto descriptivo del portal o utilizar un icono arriba del titulo
         </p>


         <button type="button" class="btn btn-elegant" style="
                        border-radius: 4px;background:  #B30011;
    ;
        border-radius: 4px;
        height: 40px;
        color: #fff;border:1px solid #B30011;width: 100%;margin-bottom: 0px;">
                            Ingresar</button>


        </div>
    </div>

    <div class="col-md-4">
        <div style="width: 204px; padding: 24px 24px;background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        ">
         <h1>Sincronización de datos</h1>
         <p>
            Aquí iría el texto descriptivo del portal o utilizar un icono arriba del titulo
         </p>


         <button type="button" class="btn btn-elegant" style="
                        border-radius: 4px;background:  #B30011;
    ;
        border-radius: 4px;
        height: 40px;
        color: #fff;border:1px solid #B30011;width: 100%;margin-bottom: 0px;">
                            Ingresar</button>


        </div>
    </div>
</div>


<div class="row" style="margin-top:56px">

    <div class="col-md-4">
        <div style="width: 204px; padding: 24px 24px;background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        ">
         <h1>Sincronización de datos</h1>
         <p>
            Aquí iría el texto descriptivo del portal o utilizar un icono arriba del titulo
         </p>


         <button type="button" class="btn btn-elegant" style="
                        border-radius: 4px;background:  #B30011;
    ;
        border-radius: 4px;
        height: 40px;
        color: #fff;border:1px solid #B30011;width: 100%;margin-bottom: 0px;">
                            Ingresar</button>


        </div>
    </div>


    <div class="col-md-4">
        <div style="width: 204px; padding: 24px 24px;background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        ">
         <h1>Sincronización de datos</h1>
         <p>
            Aquí iría el texto descriptivo del portal o utilizar un icono arriba del titulo
         </p>


         <button type="button" class="btn btn-elegant" style="
                        border-radius: 4px;background:  #B30011;
    ;
        border-radius: 4px;
        height: 40px;
        color: #fff;border:1px solid #B30011;width: 100%;margin-bottom: 0px;">
                            Ingresar</button>


        </div>
    </div>

    <div class="col-md-4">
        <div style="width: 204px; padding: 24px 24px;background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        ">
         <h1>Sincronización de datos</h1>
         <p>
            Aquí iría el texto descriptivo del portal o utilizar un icono arriba del titulo
         </p>


         <button type="button" class="btn btn-elegant" style="
                        border-radius: 4px;background:  #B30011;
    ;
        border-radius: 4px;
        height: 40px;
        color: #fff;border:1px solid #B30011;width: 100%;margin-bottom: 0px;">
                            Ingresar</button>


        </div>
    </div>
</div>
      
      </div>
      
      
      <div class="footer">
        <p>Minsterio de Economía y Finanzas - MEF 2021Todo los derechos reservados</p>
        <p>Si tienes cualquier duda o consulta, comunícate por Teléfono Central: (511) 311 5930 / Dirección: Jr. Junín 319. Cercado de Lima, Lima - Perú</p>
        <p>Web optimizada para 1024 x 768. Se recomienda utilizar solo  navegadores de Chrome, Microsoft Windows Internet Explorer 9 o superiores y Mozilla Firefox versión 16 o superiores</p>
      </div>
</div>
